$btn-cta-gradient-start: #dd0024;
$btn-cta-gradient-end: #fb6228;
$btn-cta-text-color: white;
$btn-cta-hover-color-start: darken($btn-cta-gradient-start, 5%);
$btn-cta-hover-color-end: darken($btn-cta-gradient-end, 5%);

$color-ta-red: #eb2d26;
