.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 2.5rem;
}

.animate__delay-0-5s {
    animation-delay: 0.5s;
}

.animate__delay-1-5s {
    animation-delay: 1.5s;
}

.animate__delay-2-5s {
    animation-delay: 2.5s;
}
.animate__delay-3-5s {
    animation-delay: 3.5s;
}
.animate__delay-4-5s {
    animation-delay: 4.5s;
}

.tv-hot-tours {
    margin-bottom: 45px;
}

.hero-section {
    .logo-container {
        @media (max-width: 575px) {
            .logo {
                width: 90px;
            }
        }

        .logo-subtitle {
            font-size: 18px;
            font-family: 'Bewlay Br1', arial, serif;
            color: #ffffff;

            @media (min-width: 576px) {
                font-size: 26px;
            }
        }
    }
}
