.ssr-carousel-arrows {
    .carousel-left-icon, .carousel-right-icon {
        width: 49px;
        height: 49px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.2s;

        &:after {
            content: "❯";
            color: black;
            font-size: 26px;
        }

        &.disabled {
            opacity: 50%;
        }
    }

    .carousel-left-icon {
        &:after {
            transform: rotate(180deg);
        }
    }
}

.next-button-container {
    position: relative;
    height: 100%;
}

.carousel-right-icon.disabled {
    opacity: 0.8 !important;
    cursor: default;
    max-width: 200px;
    width: 100%;
    background: #fff;
    padding: 0 15px;
    border-radius: 25px;
    gap: 10px;
}

.button-text {
    white-space: nowrap;
    margin-left: 8px;
    font-size: 14px;
    color: #333;
}

.expand-enter-from, .expand-leave-to {
    opacity: 0;
    transform: translateX(-10px);
}

.ssr-carousel-dots {
    margin-top: 31px !important;
}

.ssr-carousel-dot-icon {
    width: 13px !important;
    height: 13px !important;
    background-color: #b9b9b9 !important;
    border: none !important;
    opacity: 1 !important;
}

[aria-disabled] > .ssr-carousel-dot-icon {
    background-color: #eb2d26 !important;
    border: none;
}

.reviews-slider {
    .ssr-carousel-left-button, .ssr-carousel-right-button {
        top: 35%;
    }

    .ssr-carousel-left-button {
        left: 0;
    }

    .ssr-carousel-right-button {
        right: 0;
    }
}
