.course-hero {
    margin-top: 25px;
    margin-bottom: 88px;

    .hero-content-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-size: cover;
        background-position: bottom;
        border-radius: 55px;
        /* padding: 205px 80px 10px; */ /* Отрегулируйте паддинг, чтобы он не обрезал контент */
        padding: 205px 80px 10px;
        margin-bottom: 50px;
        overflow: hidden;
        color: white;
    }

    .hero-background-video,
    .hero-background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -2;
    }

    .hero-background-video video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .hero-background-image img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .hero-content-wrapper::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        z-index: -1;
    }

    .hero-main-text {
        position: relative;
        z-index: 1;
        margin-bottom: 125px;
    }

    .hero-main-title {
        color: white;
        font-weight: 700;
        text-transform: uppercase;
    }

    .hero-highlight-title {
        color: $color-ta-red;
        font-weight: 900;
        text-transform: uppercase;
    }

    .hero-subtitle {
        color: white;
        font-size: 2rem;
        line-height: 1;
        padding-left: 80px;
        padding-right: 80px;
    }

    .scroll-indicator {
        display: block;
        text-decoration: none;
        position: relative;
        z-index: 1;
        margin-top: auto;
        margin-bottom: 20px;
    }

    .scroll-arrow-container {
        width: 50px;
        height: 50px;
        background: rgba(235, 45, 38, 0.4);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: auto !important;
        transition: background 0.3s;
    }

    .scroll-arrow {
        width: 74px;
        height: 74px;
        color: white;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(5px);
        }
    }

    .hero-lower-content {
        text-align: center;
    }

    .lower-title {
        margin-bottom: 20px;
    }

    .lower-description {
        font-size: 2rem;
        line-height: 1.17;
    }

    @media (max-width: 768px) {
        margin-bottom: 44px;
        .hero-content-wrapper {
            padding: 50px 25px 10px;
        }
        .hero-main-title {
            font-size: 18px;
        }
        .hero-subtitle {
            font-size: 15px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .hero-main-text {
            margin-bottom: 30px;
        }
        .scroll-arrow-container {
            width: 30px;
            height: 30px;
        }
        .lower-description {
            font-size: 15px;
        }
    }
}
