.reviews-section {
    padding-top: 47px;
}

.reviews-title {
    margin-bottom: 51px;
}

.underline {
    text-decoration: underline;
}

.review-card {
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    text-align: center;
    height: 100%;

    &::after {
        content: "";
        height: 7px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $color-ta-red;
    }

    .review-header {
        padding: 40px 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-body {
        padding: 40px;
        text-align: start;
        font-weight: bold;
        line-height: 1.5;
    }

    .card-header__info {
        display: flex;
        align-items: center;
        gap: 16px;

        .avatar {
            width: 94px;
            height: 94px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .review-gallery {
        img {
            width: 100%;
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
            display: block;
        }
    }

    &__text {
        font-size: 1em;
        font-weight: 500;
        line-height: 1;
    }

    @media (max-width: 767.98px) {
        .review-header {
            flex-wrap: wrap;
            padding: 20px 20px 0;
        }
        .review-gallery {
            max-width: 100%;
        }
        .card-body {
            padding: 20px;
        }
    }
}

.ssr-carousel-back-button,
.ssr-carousel-next-button {
    top: 35%;
}

.ssr-carousel-back-button {
    left: 2px;
}

.ssr-carousel-next-button {
    right: 2px;
}

.review-gallery {
    max-width: calc(100px * 3 + 30px);

    .slide {
        width: 100px;
        height: 100px;
    }
}

.review-header {
    align-items: center;
    justify-content: space-between;
}

.reviews-slider {
    .slide-review {
        padding: 15px;
    }

    .ssr-carousel-left-button {
        left: -7px;
    }

    .ssr-carousel-right-button {
        right: -7px;
    }
}
