.team-section {
    padding-top: 108px;

    .ssr-carousel-mask {
        padding: 31px 4px 6px;
    }
}

.team-section-title {
    margin-bottom: 31px;
}

.team-members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.team-member-content {
    overflow: hidden;
    height: 168px;
    position: relative;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 0 16.7px 1.3px rgba(0, 0, 0, 0.15);
    padding: 74px 14px 27px;
    text-align: center;
    box-sizing: border-box;

    &:after {
        content: "";
        height: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $color-ta-red;
    }
}

.team-member {
    position: relative;
    width: calc(20% - 20px);

    img {
        z-index: 1;
        width: 94px;
        height: 94px;
        border-radius: 50%;
        object-fit: cover;
        top: -10%;
        left: 50%;
        transform: translate(-50%, -10%);
        position: absolute;

    }

    h3 {
        line-height: 0.83;
        font-weight: bold;
        margin-bottom: 12px;
    }

    p {
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 0.84;
    }

    &.top-row {
        margin-bottom: 39px;
    }
}

@media (max-width: 1023px) {
    .team-member-content {
        p {
            font-size: 0.95rem;
        }
    }
}

@media (max-width: 992px) {
    .team-section {
        padding-top: 25px;
    }
}

@media (max-width: 768px) {
    .team-member {
        width: calc(50% - 20px);

        img {
            width: 80px;
            height: 80px;
        }

        h3 {
            font-size: 16px;
        }

        p {
            font-size: 14px;
        }
    }
}

@media (max-width: 480px) {
    .team-member {
        width: calc(100% - 20px);

        img {
            width: 100px;
            height: 100px;
        }

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 16px;
        }
    }
}
